footer#footer {
	background-color: yellow;
	padding-block: 3rem;
	.container {
		h3 {
			margin-bottom: 1rem;
			width: 200px;
		}
		.coral {
			p {
				width: 270px;
				margin-block: 3rem;
			}
		}
	}
}