.container {
	width: 1200px;
	margin: 0 auto;
}

.myflex {
	display: flex;
}

.gap {
	gap: 2rem;
}

.myjustify-center {
justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.myjustify-between {
	justify-content: space-between;
}

.myjustify-around {
	justify-content: space-around;
}

.justify-evenly {
	justify-content: space-evenly;
}

.myalign-center {
	align-items: center;
}

.myalign-start {
	align-items: flex-start;
}
.align-end {
	align-items: flex-end;
}
.align-start {
	align-items: center;
}
.align-stretch {
	align-items: stretch;
}

.myportion {
	flex: 1;
}

.mycolumn {
	flex-direction: column;
}

.row {
	flex-direction: row;
}

.wrap {
	flex-wrap: wrap;
}

section {
	// padding {
	// 	top: 3rem;
	// 	bottom: 3rem;
	// }
	h1 {
		font-size: 4rem;
		font-weight: 800;
		color: black;
		margin-block: 0.6rem;
		text-transform: capitalize;
	}
	h2 {
		font-size: 36px;
		margin: 0 auto;
		text-align: center;
		font-weight: 200;
	}
	h3 {
		font-size: 2.25rem;
		font-weight: 700;
	}
	h4 {
		font-size: 1.5rem;
		font-weight: 700;
	}
	h5 {
		font-size: 1rem;
		font-weight: 700;
	}
	p {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;
	}
}

section {
	padding-block: 3rem;
}

section#premium {
	background-color: red;
}

section#newproducts {
	background-color: green;
}

section#best {
	background-color: blue;
}